:root {
  --e-global-color-primary: #2a2c38;
  --e-global-color-secondary: #ff9021;
}
.custom-section1 {
  padding: 60px 0;
  background-color: #fff8f9;
}

.custom-section1 span {
  font-size: 3rem;
  display: block;
  text-align: center !important;
  font-family: sans-serif;
  font-weight: bold;
  color: #2a2c38;
}

.service-card {
  flex: 0 0 38%;
  background-color: white;
  border-bottom: 5px solid var(--e-global-color-secondary);
  padding: 50px 40px 40px 40px;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  height: 495px;
  font-family: sans-serif;
}

.service-card h3 {
  color: #2a2c38;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.service-card p {
  font-size: 1rem;
  color: #666;
  text-align: left;
}
.my-4 {
  color: black;
}
.custom-carousel1.our-services-carousel .carousel-control-prev,
.custom-carousel1.our-services-carousel .carousel-control-next {
  display: none;
}
.custom-carousel1 .carousel-item {
  height: 100% !important;
}

.custom-carousel1 .carousel-item img {
  height: 2626px;
  border-radius: 30px;
}
.servicecarousel span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.servicecarousel p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.text1 {
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;

  margin-bottom: 1018px !important;
}

@media (max-width: 768px) {
  .custom-section1 span {
    font-size: 2rem;
  }

  .service-card {
    padding: 30px 20px;
  }
  .service-card h3 {
    font-size: 1.2rem;
  }
  .service-card p {
    font-size: 0.85rem;
  }
  .servicecarousel span {
    font-size: 20px;
    margin-top: 20px;
  }
  .servicecarousel p {
    font-size: 15px;
  }
  .custom-carousel1 .carousel-item img {
    padding-right: 30px;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .service-card {
    padding: 20px 15px;
    height: auto;
  }
  .service-card h3 {
    font-size: 1rem;
  }
  .service-card p {
    font-size: 0.75rem;
  }
  .servicecarousel span {
    font-size: 18px;
    margin-top: 15px;
  }
  .servicecarousel p {
    font-size: 12px;
  }
}
